<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand" href="#">
      <img src="{{ asset('build/images/logo_ws.png') }}" alt=""/> 
    Home
    </a>
  </div>
</nav>